<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{metaTitle}}</title>
    <meta name="Description" content="{{metaDescription}}">
    <script src="https://kit.fontawesome.com/e061cad298.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/scss/styles.css">

    <style>
        .top {
            background-image: url({{coverbg}});
            background-size: cover;
            background-position: bottom;
        }
    </style>
</head>
<div class="top {{topHeightClass}}">
    <header>
        <div class="header-wrapper">
            <div class="logo"><a href="/"><img src="/img/nyxium-logo.png"></a></div>
            <div class="burger">
                <span class="bars"></span>
            </div>
            <nav class="nav">
                <a href="/priser">Priser</a>
                <div class="submenu">
                    <p class="dropdowntrigger">Integrationer <i class="fas fa-chevron-down"></i></p>
                    <div class="submenubullets">
                        <a href="/integrationer">Alle</a>
                        <a href="/integrationer/dinero">Dinero</a>
                    </div>
                </div>

                <a href="/om">Om</a>
                <div class="submenu">
                    <p class="dropdowntrigger">Support <i class="fas fa-chevron-down"></i></p>
                    <div class="submenubullets">
                        <a href="/support">FAQ</a>
                        <a href="/support/integrationer">Integrationer</a>
                    </div>
                </div>
                <a href="/login">Login</a>
                <a href="/opret-bruger" class="btn">Opret bruger</a>
            </nav>
        </div>
    </header>

    <body>
        {{#if grid}}
        <section class="cover_content cover_content-grid">
            {{> @partial-block}}
        </section>
        {{else}}

        <section class="cover_content cover_content-nogrid">
            {{> @partial-block}}
        </section>
        {{/if}}

</div>